*{
    font-family: 'Merriweather', serif;
}

.top-buffer {margin-top: 20px !important}

.no-margin {margin: 0;}

.no-padding {padding: 0;}

.column-button {
    width: 100%;
    margin: 20px 0 0 0;
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-left {
    padding-left: 0;
}

.row-button {
    cursor: pointer;
    float: right;
}

.dropdown-list-content {
    margin-left: 20px;
    cursor: pointer;
}
.top-bar {
    background-image: -moz-linear-gradient( 90deg, rgb(73,84,104) 0%, rgb(184,200,219) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(73,84,104) 0%, rgb(184,200,219) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(73,84,104) 0%, rgb(184,200,219) 100%);
    color: white;
}

.top-bar-height{
    height: 38px;
    text-align: center;
    line-height: 38px;
}


